/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 feb 2025, 6:14:30 p.m.
    Author     : javigarcia
*/

.logo {
    width: 120px;  /* Ajusta el tamaño del logo */
    height: auto;  /* Mantiene la proporción */
}


